<h1>An Exercise in Futility</h1><hr>

<div id="bio-container">
  <span id="selfportrait">
    <%= image_tag 'healthyactivities2.jpeg', height: '400' %>
  </span>
  <div id="bio-text">
    <p>Devin Knauss is a 28-year-old Floridian who, like millions of other young adults, is desperately searching for deeper meaning in his life. He's a fairly artistic dude who, despite a constant and unsatisfied yearning to create, can't quite seem to just sit down and <strong><i>do</i></strong> it.</p><br>
    <p>Having recently quit his job of four-and-a-half years, Devin now has between 40-70 more hours each week to scratch whatever creative itches flare up. Finding this motivation, however, is proving much more difficult as he realizes that more free time does not in any way guarantee more productivity.</p><br>
    <p>Devin spends most of his time pacing aimlessly, vacillating among a number of totally unproductive activities. In the rare event he does take action, it's usually coding exercises, noodling on his guitar under the guise of "learning," or reading books as a form of procrastination. </p><br>
    <p>Follow Devin via sporadic updates on <a href="https://www.facebook.com/devin.knauss">FaceBook </a>and <a href="https://www.instagram.com/devo_knevo/">Instagram</a>.</p>
  </div>
</div>

<%#=link_to 'Home', root_path %>