<h1>Blank Home Page</h1>

<%= link_to 'About', about_path %><br>
<%= link_to 'Contact', contact_path %>

<%= image_tag'explode.gif' %>

<h2>This is a very simple home page</h2>

<p>There's nothing here except for a couple of headers, an image, and this boring paragraph.</p>