<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="applicaition.css">
  <title>Alpha Blog</title>
</head>

<body>
  <div id="container">
    
      <header id="header">Bloggy Blog</header> 
      <div id="navbar">
        <span class="navoption"><%= link_to 'About', about_path %></span>
      </div>
    </div>
  </div>

<h1>Blank Home Page</h1>

<%= link_to 'About', about_path %><br>
<%= link_to 'Contact', contact_path %>

<!-- <%= image_tag'explode.gif' %> -->

<h2>This is a very simple home page</h2>

<p>There's nothing here except for a couple of headers, an image, and this boring paragraph.</p>



</body>
</html>